/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
ul {
  list-style-type: 0;
}

button {
  border: 0;
  background-color: transparent;
}

nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}
nav .nav-links {
  display: none;
  gap: 4rem;
}
nav .nav-links a {
  color: #fff;
  font-size: 1.2rem;
}
nav .nav-links a:hover {
  color: rgb(97, 74, 31);
}
nav .open {
  color: #fff;
  border-radius: 200vh;
  padding: 0.2rem 0.8rem;
  background-color: rgb(165, 127, 56);
  cursor: pointer;
  font-size: 1.4rem;
}
nav .open:hover {
  background-color: rgb(129, 100, 45);
}
nav .cart {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
nav .cart .cart-Btn {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}
nav .cart .items-number {
  font-size: 0.9rem;
  padding: 0 0.4rem;
  border-radius: 50%;
  background-color: rgb(143, 102, 27);
  right: -0.6rem;
  color: #fff;
  position: absolute;
  top: -1rem;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  height: 4;
}

.front {
  padding: 10rem 3rem;
  min-height: 100vh;
  margin-top: -6rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://vanilla-js-store.netlify.app/images/main-bcg.jpeg) center/cover;
  color: var(--clr-white);
}
.front h3 {
  font: 100;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.front button {
  border: 1px solid #fff;
  padding: 0.75rem 1.3rem;
  border-radius: 10px;
  font: 300;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: #fff;
}
.front button:hover {
  background-color: #fff;
  color: rgb(167, 121, 36);
}

.show {
  transform: scale(1) !important;
  transition: transform 0.17s ease-in;
}

.pop-up {
  transition: all 0.17s ease-in;
  transform: scale(0);
  position: fixed;
  padding: 1rem 2rem;
  top: 0;
  background-color: #fff;
  width: 80vw;
  max-width: 80rem;
  height: 80vh;
  margin-top: 3rem;
  left: 11vh;
}
.pop-up .show {
  transform: scale(1);
}
.pop-up .close {
  cursor: pointer;
  font-size: 1.3rem;
  align-self: flex-end;
}
.pop-up .pop-links {
  padding: 1rem 2rem;
}
.pop-up .pop-links li {
  padding: 0.8rem 0;
}
.pop-up .pop-links li a {
  font-size: 1.3rem;
  color: #222;
}
.pop-up .pop-links li a:hover {
  color: var(--clr-grey-6);
}
.pop-up .pop-links li a i {
  color: var(--clr-grey-6);
  padding-right: 1rem;
}

.show-cart {
  transform: translateX(0%) !important;
  transition: transform 0.4s ease-in-out;
}

.side-cart {
  overflow-y: scroll;
  transition: transform 0.4s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
  position: fixed;
  padding: 1.2rem 1.7rem;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #fff;
  width: 25rem;
  max-width: 50rem;
}
.side-cart .products {
  height: 60vh;
}
.side-cart .products .product {
  padding: 2.2rem 0;
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 1rem;
  height: 4rem;
}
.side-cart .products .product img {
  height: 4rem;
  width: 6rem;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.side-cart .products .product .counter {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.side-cart .products .product .counter span {
  margin-right: 0.125rem;
}
.side-cart .products .product .counter button {
  color: rgb(212, 154, 45);
  cursor: pointer;
}
.side-cart .products .product .product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.side-cart .products .product .product-info h4 {
  background-color: rgb(179, 97, 97);
}
.side-cart .products .product .product-info p {
  margin: 0;
}
.side-cart .products .product .product-info .remove {
  color: var(--clr-grey-6);
  cursor: pointer;
  display: flex;
  margin-top: 0.225rem;
}
.side-cart .close-cart {
  font-size: 1rem;
  font: bolder;
  font-size: 1.5rem;
  cursor: pointer;
}
.side-cart header {
  text-align: center;
  padding: 1.125rem;
}
.side-cart footer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.side-cart footer .checkout {
  cursor: pointer;
  background-color: rgb(207, 138, 10);
  padding: 0.5rem 5rem;
  border-radius: 5px;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  font: 100;
  width: 100%;
}

.featured {
  padding: 3rem 2rem;
}
.featured .all-product {
  padding: 0.5rem 1.8rem;
  margin: 0 auto;
  align-items: center;
  display: flex;
  background-color: rgb(218, 146, 14);
  border-radius: 5px;
}
.featured .all-product a {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.15rem;
}
.featured .title {
  padding: 1rem 0;
  text-transform: capitalize;
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}
.featured .title span {
  color: orange;
  margin-bottom: 1rem;
}
.featured .products-fe .product {
  padding: 1.125rem 0;
}
.featured .products-fe .product .product-container .pro-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.featured .products-fe .product .product-container .pro-info .title {
  color: rgb(91, 91, 133);
  font-size: 1rem;
}
.featured .products-fe .product .product-container .pro-info .price {
  font-size: 1rem;
}
.featured .products-fe .product .product-container .img-content {
  position: relative;
}
.featured .products-fe .product .product-container .img-content:hover .add-cart, .featured .products-fe .product .product-container .img-content:hover .search {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
  color: #fff;
  font: 500;
  font-size: 1.125rem;
  background-color: rgb(219, 147, 13);
  border-radius: 50%;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.featured .products-fe .product .product-container .img-content:hover .add-cart:hover, .featured .products-fe .product .product-container .img-content:hover .search:hover {
  background-color: rgb(177, 119, 10);
}
.featured .products-fe .product .product-container img {
  border-radius: 7px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 40vh;
  width: 100%;
}
.featured .products-fe .product .product-container .icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(172, 66, 66);
  display: flex;
  gap: 1.3rem;
}
.featured .products-fe .product .product-container .icons .add-cart, .featured .products-fe .product .product-container .icons .search {
  transform: scale(0);
}

@media screen and (min-width: 990px) {
  .products-fe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .products-fe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .nav-links {
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
  }
  .open {
    display: none;
  }
  .pop-up {
    display: none;
  }
  .front {
    padding: 13rem 7rem;
  }
}/*# sourceMappingURL=project17.css.map */